<h1>ログイン</h1>
<form action="/auth/twitter" method="post" class="login-form">
  <h2>はじめに</h2>
  <p>まず<a href="/terms">利用規約</a>および<a href="/privacy">プライバシーポリシー</a>に同意してください</p>
  <button type=submit class="twitter"><i class="fab fa-twitter"></i> Twitterでログイン</button>
</form>
