<div class="twitter-callback">ただいまTwitterと連携中です</div>
<%= react_component("TwitterCallback", {
    provider: @provider,
    twitter_uid: @twitter_uid,
    name: @name,
    image: @image,
    description: @description,
    url: @url,
    twitter_url: @twitter_url
}) %>
